<!--
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWWWWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWX0kdolcc:::clox0XWMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMWKkl:'......',,'.....':d0NMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMWKd:...';lxO00XXNNXXKOdl,...:xXMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMWXx:...,lkKWMMMMMMMMMMMMMMMNOo,..;kNMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMWKo,..,lONWMMMMWNXXK000KXNWMMMMWXo. .xWMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMWKo'..;xXWMMMWNOoc,''.....',cokXWMMWd. ,0MMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMXd'..;kNMMMMNOl,...,:cloool:,...'oKWMK; .dWMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMW0:..,xNMMMNOl,...:d0NWWMMMMMWNKx:..,kWNo..:XMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMWO,..lKMMMNx;...:d0NMMMMMMMMMMMMMMNd..'kWO' 'OMMMMMMMMMMMMMMM
MMMMMMMMMMMMMWO,..oNMMW0:..'o0WMMMMMWWNXXNWMMMMMMNl..cXX:..oWMMMMMMMMMMMMMM
MMMMMMMMMMMMM0;..lXMMWk,..cKWMMMMMMKo:;'',coOXWMMMO' 'OWd..:KMMMMMMMMMMMMMM
MMMMMMMMMMMMK:..cXMMWx' .dNMMMMMMWk,. .,:,...':d0NO, .ckl. .xWMMMMMMMMMMMMM
MMMMMMMMMMMWd. ,0MMM0; .oNMMMMMMWk'..,lkko;..  ..,'.  .....:0MMMMMMMMMMMMMM
MMMMMMMMMMMNc..lNMMM0, .xWMMMMMMX:...,,......'.. .;'. 'oxkKNWMMMMMMMMMMMMMM
MMMMMMMMMMMNl..cNMMMNo..;0WMMMMMNd.....;oxO0K0:..lXd. ;KMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMWx. 'OWMMMXl..,kWMMMMMWKkddONMMMMWx. ,OWx. ;0MMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMNl..;0WMMMNd...lKMMMMMMMMMMMMMMWk' .xWNo. :XMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMXl..,kWMMMWO;..,dXMMMMMMMMMMMWO, .dNWk' .xWMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMNd...oXMMMMXx,..,oKWMMMMMMMMK;..lNWO, .oNMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMWO;..;kNMMMWXx;..'cONMMMMMXc..:KM0;..lXMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMXo'..c0WMMMMNkc...;oxkOd;..;0MXc..cXMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMW0c...l0WMMMMWKd;.......,oKMNd. ,0MMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMWO:..'lKWMMMMMNKkddodOXWMWk' .xWMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMNk:..'lONMMMMMMMMMMMMMWk,..oNMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMNkc...;d0NWMMMMMMNKxc...oNMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMW0o;...,codddol;...'lOWMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMNOdc,.......':okXWMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWNK0OOO0KXWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
                            https://oxomoto.co/
!-->
<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="oxomoto is the design practice of Louis Desmet.">
<meta name="keywords" content="graphic design, oxomoto, Louis Desmet, typography">
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🐚</text></svg>">
<title>Louis Desmet</title>
<link rel="stylesheet" href="style.css">

<pre>
{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{
{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{###############################{{{{{{{{{{{{{{{{{{{{{{
{{{{{{{{{{{{{{{{##############################################{{{{{{{{{{{{{{{{{{{{{{
{{{{{{{{{{{{{{{{##############################################{{{{{{{{{{{{{{{{{{{{{{
{{{{{{{{{{{{{{{{##############,,,,,,,,,###,,,,,,,,,#################{{{{{{{{{{{{{{{{
{{{{{{{{{{{{{############,,,###,,,,,,,,###,,,,,,,,.##,,,,###########{{{{{{{{{{{{{{{{
{{{{{{{{{{{{{########,,,,,,,.##,,,,,,,,###,,,,,,,,###,,,,,,,########{{{{{{{{{{{{{{{{
{{{{{{(((((#########.,,,,,,,,###,,,,,,,*##,,,,,,,,##,,,,,,,,,##############{{{{{{{{{
{{{{{{###########,,###,,,,,,,,##,,,,,,,,##,,,,,,,##,,,,,,,,,###,###########{{{{{{{{{
{{{{{{#########(,,,,###,,,,,,,,##,,,,,,,##,,,,,,.##,,,,,,,###,,,,,#########{{{{{{{{{
{{{{{{########,,,,,,,.##,,,,,,,##,,,,,,,#,,,,,,,##,,,,,,,###,,,,,,,########{{{{{{{{{
{{{{{{########,,,,,,,,,##,,,,,,,##,,,,,,#,,,,,,,#,,,,,,,##,,,,,,,,,########{{{{{{{{{
{{{{{{##########,,,,,,,,##,,,,,,,#,,,,,,#,,,,,,#,,,,,,,##,,,,,,,,##########{{{{{{{{{
{{{{{{######,,,###,,,,,,,,#*,,,,,,#,,,,,#,,,,,.#,,,,,,#,,,,,,,,###,,,######{{{{{{{{{
{{{{{{######,,,,,,##,,,,,,,##,,,,,#,,,,,#,,,,,#,,,,,,#,,,,,,,##,,,,,,######{{{{{{{{{
{{{{{{######,,,,,,,,##,,,,,,,#,,,,,#,,,,#,,,,,,,,,,#/,,,,,,##,,,,,,,,######{{{{{{{{{
{{{{{{######,,,,,,,,,,,#,,,,,,#,,,,,,,,,#,,,,#,,,,#,,,,,,#/,,,,,,,,,,######{{{{{{{{{
{{{{{{##########,,,,,,,,,#,,,,,,,,,,#,,,*,,,.,,,,#,,,,,#,,,,,,,,,,#########{{{{{{{{{
{{{{{{#############,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,#,,,,,,,,#############{{{{{{{{{
{{{{{{{{{{############,,,,,,,,.,,,,,,,,,,,,,,,,,,,,,,,,,,,,############{{{{{{{{{{{{{
{{{{{{{{{{#############,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,#############{{{{{{{{{{{{{
{{{{{{{{{{{{{{{{#######,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,#############{{{{{{{{{{{{{
{{{{{{{{{{{{{{{{########,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,/#############{{{{{{{{{{{{{
{{{{{{{{{{{{{{{{########,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,##############{{{{{{{{{{{{{
{{{{{{{{{{{{{{{{########################,(#############################{{{{{{{{{{{{{
{{{{{{{{{{{{{{{{{{*############################################{{{{{{{{{{{{{{{{{{{{{
{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{################{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{
{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{
{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{
{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{
{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{
{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{
{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{
{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{
{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{
{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{
{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{
{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{
{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{
{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{

                        Que se trouve-t-il sous la coquille?
                                What's under the shell?


</pre>
