* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    vertical-align: baseline;
}

body {
    background: yellow;
}

pre {
    color: green;
}

@media only screen and (max-width: 600px) {
    pre {
        width: 100vw;
        font-size: 1.6rem;

    }

}
